<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
    <title>Penyakit Mata</title>
</head>
<body>

    <div class="container">
        <div class="form-container">
            <h1>Formulir</h1>
            <p class="desc">Deteksi Kemungkinan Terkena Penyakit Mata Rabun dan Silinder</p></br>
            <form action="/predict" method="post">
                <div class="form-group">
                    <label for="name">Nama</label>
                    <input type="text" id="name" name="name" required>
                </div></br>
                
                <div class="form-group">
                    <label for="sex">Jenis Kelamin</label>
                    <div class="input">
                        <input type="radio" id="sex" name="sex" value="0" required>Laki-laki
                        <input type="radio" id="sex" name="sex" value="1" required>Perempuan
                    </div>
                </div></br>

                <div class="form-group">
                    <label for="age">Usia</label>
                    <input type="number" id="age" name="age" min="1" max="100" required>
                </div></br>

                <div class="form-group">
                    <label for="gadgetPerHour">Rata-rata waktu penggunaan gadget per hari (dalam jam)</label>
                    <p>Hari yang dimaksud adalah hari kerja, yaitu Senin hingga Jumat.</p>
                    <input type="number" id="gadgetPerHour" name="gadgetPerHour" required>
                </div></br>

                <div class="form-group">
                    <label for="wrongLens">Pernah menggunakan lensa kacamata yang salah atau tidak sesuai</label>
                    <p>Misalnya, menggunakan kacamata milik penderita rabun atau silinder meskipun mata dalam keadaan sehat
                        atau menggunakan lensa kacamata dengan ukuran minus, plus, atau silinder yang tidak sesuai
                        dengan kebutuhan mata.</p>
                    <div class="input">
                        <input type="radio" id="wrongLens" name="wrongLens" value="1" required>Ya
                        <input type="radio" id="wrongLens" name="wrongLens" value="0" required>Tidak
                    </div>
                </div></br>

                <div class="form-group">
                    <label for="genFactor">Kemungkinan penyakit mata yang diderita disebabkan oleh faktor genetik</label>
                    <div class="input">
                        <input type="radio" id="genFactor" name="genFactor" value="3" required>Ya
                        <input type="radio" id="genFactor" name="genFactor" value="1" required>Tidak
                        <input type="radio" id="genFactor" name="genFactor" value="2" required>Kurang Tahu
                    </div>
                </div></br>

                <div class="form-group">
                    <label for="nutriFood">Sering mengonsumsi makanan bernutrisi</label>
                    <p>Seperti wortel, ubi jalar, bayam, brokoli, kacang-kacangan, makanan yang mengandung vitamin C, dll.</p>
                    <div class="input">
                        <input type="radio" id="nutriFood" name="nutriFood" value="3" required>Ya
                        <input type="radio" id="nutriFood" name="nutriFood" value="1" required>Tidak
                        <input type="radio" id="nutriFood" name="nutriFood" value="2" required>Jarang
                    </div>
                </div></br>
                
                <button class="btn" type="submit">Cek Hasil</button>
            </form>
        </div>

        <!-- <div class="image-container">
            <img src="img.png">
        </div> -->
    </div>
    
    <!-- <form id="prediction-form" onsubmit="">
        <div class="form-control age">

            <label for="age">How old are you?</label>
            <input type="number" name="age" id="age" placeholder="20">
      
        </div>

        <div class="form-control gadgetPerHour">

            <label for="gadgetPerHour">How long do you use gadget per day? In hour</label>
            <p>On weekday (Monday to Friday). Gadget as in electronic device like laptop, handphone, television, etc</p>
            <input type="number" name="gadgetPerHour" id="gadgetPerHour" placeholder="7">
      
        </div>

        <div class="form-control wrongLens">

            <label for="wrongLens">Have you ever used the wrong or inappropriate eyeglass lenses?</label>
            <p>For example, wearing glasses belonging to someone with nearsightedness or astigmatism when your eyes are healthy, or using eyeglass lenses with incorrect prescriptions such as minus, plus, or cylinder measurements that do not match your eye needs.</p>
            <input type="radio" name="wrongLens" id="wrongLens" value="0">No
            <input type="radio" name="wrongLens" id="wrongLens" value="1">Yes
      
        </div>

        <div class="form-control genFactor">

            <label for="genFactor">Do you feel that the eye disease you are suffering from is a genetic factor?</label>
            <p>If you do not suffer from any eye disease, please choose 'no'.</p>
            <input type="radio" name="genFactor" id="genFactor" value="1">No
            <input type="radio" name="genFactor" id="genFactor" value="2">I'm Not Sure
            <input type="radio" name="genFactor" id="genFactor" value="3">Yes
      
        </div>

        <div class="form-control nutriFood">

            <label for="nutriFood">Do you often consume nutritious foods?</label>
            <p>Such as carrots, sweet potatoes, spinach, broccoli, legumes, foods containing vitamin C, etc.</p>
            <input type="radio" name="nutriFood" id="genFactor" value="1">No
            <input type="radio" name="nutriFood" id="genFactor" value="2">Rarely
            <input type="radio" name="nutriFood" id="genFactor" value="3">Yes
      
        </div>

        <button type="submit">Submit</button>
    </form> -->

    <script src="script.js"></script>

</body>
</html>